<a href="https://colab.research.google.com/github/m123m12/Airbnb-Booking-Analysis/blob/main/Copy_of_Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
1. check the non_null values in columns and find out the data type of the each column?
2. Find out the maximum and minimum prices in Airbnb?
3. on which price most of the properties are       available?
4.Find all the row indexes for which host_name is null?
5.Which room types are available on airbnb?

In [ ]:
#import the numpy,pandas and matplolib libraries

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#mount the drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#load the csv file
airbnb_data = pd.read_csv("/content/drive/MyDrive/Airbnb Booking analysis/Airbnb NYC 2019.csv")

In [32]:
#1.check the  non_null values in columns and find out the data type of the each column?

airbnb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
#2.Find out the maximum and minimum prices in Airbnb?

we get maximum and minimum prices in Airbnb by using describe method

In [6]:
airbnb_data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [ ]:
#3.on which price most of the properties are available?

The mode is the value that appears the most often in a data set.There is no mode when all observed values appear the same number of times.so we use mode method to find the most of the propertis are available on which price.

In [23]:
airbnb_data["price"].mode()

0    100
dtype: int64

most of the properties in Airbnb are available on 100

In [ ]:
#4.Find all the row indexes for which host_name is null?

In [37]:
airbnb_data.loc[airbnb_data["host_name"].isna(), "host_name"]

360      NaN
2700     NaN
5745     NaN
6075     NaN
6582     NaN
8163     NaN
8257     NaN
8852     NaN
9138     NaN
9817     NaN
14040    NaN
14631    NaN
15174    NaN
19565    NaN
27777    NaN
27962    NaN
28042    NaN
28274    NaN
30570    NaN
32193    NaN
38992    NaN
Name: host_name, dtype: object

In [ ]:
#5.which room types are available on Airbnb?

In [41]:
pd.unique(airbnb_data['room_type'])

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)